@use 'variables' as v;

div:where(.swal2-container) h2:where(.swal2-title) {
    position: relative;
    max-width: 100%;
    margin: 0px!important;
    // padding: 0.8em 1em 0;
    padding: v.$base-padding!important;
    color: inherit;
    font-size: v.$title_section !important;
    text-align: center;
    text-transform: none;
    word-wrap: break-word;
}

div:where(.swal2-container) .swal2-html-container {
    z-index: 1;
    justify-content: center;
    margin: 0px!important;
    // padding: 0;
    overflow: auto;
    color: inherit;
    // font-size: 1.125em;
    font-size: inherit!important;
    font-weight: normal;
    line-height: normal;
    text-align: center;
    word-wrap: break-word;
    word-break: break-word;
}

div:where(.swal2-container).swal2-top-end>.swal2-popup, div:where(.swal2-container).swal2-top-right>.swal2-popup {
    width: 100%!important;
    display: grid;
}

.swal2-container{
    z-index: 9999 !important;
}

.swal2-confirm {
    border: 0;
    border-radius: .25em;
    background: initial;
    background-color: v.$sia-deep-blue !important;
    color: white;
    // font-size: 14px;
}

.swal2-cancel{
    background-color: v.$sia-grey !important;
    color: v.$sia-deep-blue !important;
}

.swal2-styled {
    margin: .3125em !important;
    padding: .325em 0.8em !important;
    box-shadow: none;
    font-weight: 500;
}

.b-toaster{
    z-index: 9001;
}

.swal2-title {

    color: inherit;
    font-size: 1rem !important;

}
