@use '../variables' as v;
@use "sass:math";

.grid-container-uc-modules {
  margin: v.$base-padding;
  display: grid;
  grid-gap: v.$base-padding;
  grid-template-columns: repeat(6, 1fr);

  .box-header{
    padding: 5px
  }

  .box-body{
    padding: math.div(v.$base-padding,3) 0px;
  }
  // margin-top: v.$base-padding;

  @media screen and (max-width: 1440px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media screen and (min-width: 1450px) and (max-width: 1920px) {

  }
  @media screen and (min-width: 1921px) and (max-width: 3000px) {

  }
}

.grid-container-mitre {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 1fr 2fr !important;
  grid-template-rows: 450px;
  margin-top: v.$base-padding;

  @media screen and (max-width: 1024px) {
    grid-template-columns: 1fr !important;
    grid-template-rows: 400px;
  }

  @media screen and (min-width: 1025px) and (max-width: 1440px) {
    grid-template-columns: 1fr 1fr !important;
    grid-template-rows: 400px;
  }
  @media screen and (min-width: 1441px) and (max-width: 1920px) {
    grid-template-columns: 1fr 2fr !important;
    grid-template-rows: 420px;

  }
  @media screen and (min-width: 1921px) and (max-width: 3000px) {

  }
}

.grid-container-modules {
  display: grid;
  grid-template-columns: 1fr auto;
}